#us {
    background-color: #a6aa5268;
    max-height: 442px;
    min-height: 442px;

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 14px;
    }

    li {
        font-size: 10px;
        font-weight: bold;
    }
}